<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img src="\assets\Logo-2.png" >
  </a>

  <div class="collapse navbar-collapse"  id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/courses">COURSES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mywishlist">MYWISHLIST</a>
      </li>
      <li class="nav-item">

        <a class="navbar-brand" routerLink="/shoppingcart">
          <img src="\assets\shopping-cart.svg" >

            </a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/myprofile">
          <img src="\assets\noun_profile_2068277.svg" >
            </a>
      </li>
    </ul>
  </div>
</nav>


