
<div class="container">
  <div class="row col-md-12 courseDetails">

    <div class="col-md-6">
  <p class="courseDetailsPara">
    Discover Latest Courses on React
  </p>
    </div>
    <div class="col-md-6" style="text-align: right;">
    <img src="\assets\Mask Group 1.png" style="height: 65px;width:auto">
  </div>
  </div>


  <div class="row col-md-12">
    <div class="row col-md-8">

    <div class="col-md-9" style="display: inline;"><label>1 Courses in Cart</label></div>

  </div>
  </div>

  </div>



<div class="card">
  <div class="row">
      <div class="col-md-8 cart">

          <div class="row border-top border-bottom">
              <div class="row main align-items-center">
                  <div class="col-1"><img class="img-fluid" src="\assets\images.png"></div>
                  <div class="col-3">impedit velit eaque vero ut quod
                    <div class="courseTitle">
                      <div class="btn btn-primary btn-sm courseBtn" role="button"> React</div>
                      <div class="btn btn-primary btn-sm courseBtn" role="button"> React</div>
                    </div>
                  </div>
                  <div class="col-2"></div>
                  <div class="col-2 courseAuthor" style="color: #1873CE;">Move to Wishlist</div>
                  <div class="col-2">Rs 564.00/- </div>
                  <div class="col-2"><span style="display: inline;padding-left: 10px;"><i style="font-size:24px" class="fa">&#xf014;</i></span></div>
              </div>
          </div>
      </div>

</div>

<div class="recommendedCourses">

  <div class="row col-md-12">
    <div class="row col-md-8">

    <div class="col-md-9" style="display: inline;padding-top: 5px;"><label>Recommended Courses</label></div>

  </div>
  </div>
<div class="card">
  <div class="row">
      <div class="col-md-8 cart">

          <div class="row border-top border-bottom">
            <div class="row main align-items-center">
              <div class="col-1"><img class="img-fluid" src="\assets\images.png"></div>
              <div class="col-3">impedit velit eaque vero ut quod
                <div class="courseTitle">
                  <div class="btn btn-primary btn-sm courseBtn" role="button"> React</div>
                  <div class="btn btn-primary btn-sm courseBtn" role="button"> React</div>
                </div>
              </div>
              <div class="col-2 courseAuthor">Velma Mohr</div>
              <div class="col-2">Rs 564.00/- </div>
              <div class="col-1 actualPrice"><del>Rs 789.00/-</del></div>
              <div class="col-3"><a href="#" class="btn btn-primary btn-lg" role="button">ADD TO CART</a><span style="display: inline;padding-left: 10px;"> ></span></div>
          </div>
          </div>

          <div class="row border-top border-bottom">
            <div class="row main align-items-center">
              <div class="col-1"><img class="img-fluid" src="\assets\images.png"></div>
              <div class="col-3">impedit velit eaque vero ut quod
                <div class="courseTitle">
                  <div class="btn btn-primary btn-sm courseBtn" role="button"> React</div>
                  <div class="btn btn-primary btn-sm courseBtn" role="button"> React</div>
                </div>
              </div>
              <div class="col-2 courseAuthor">Velma Mohr</div>
              <div class="col-2">Rs 564.00/- </div>
              <div class="col-1 actualPrice"><del>Rs 789.00/-</del></div>
              <div class="col-3"><a href="#" class="btn btn-primary btn-lg" role="button">ADD TO CART</a><span style="display: inline;padding-left: 10px;"> ></span></div>
          </div>
        </div>
      </div>

</div>
</div>
</div>
